.nav__container{
    /* border: 1px solid rgb(202, 74, 74); */
    min-width: 100%;
    max-width: 75rem;
    max-height: 5.8vw;
    /* min-height: max-content; */
    top: 0;
    position: fixed;
    background-color: white;
    z-index: 9;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
    /* margin-bottom: 7vw; */
    font-size: 1vw;
}

header {
    padding: 15px 20px;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color); */
    width: 75vw;
    margin: 0 auto;
  }
  header .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  header .logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  header .location {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 20%;
    text-align: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    margin-left: 1.5rem;
  }
  header .location span {
    padding-bottom: 5px;
    margin-right: 0.45rem;
    cursor: pointer;
    -webkit-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
  }
  header .location:hover > span:first-child {
    color: var(--base-color);
    border-bottom: 2px solid var(--base-color);
  }
  header .location span:nth-of-type(1) {
    font-weight: bold;
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
    font-size: 0.85rem;
  }
  header .location span:nth-of-type(2) {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-block;
    width: 45%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
    font-size: 0.75rem;
    color: var(--text-color);
    opacity: 0.65;
  }
  header .location span:nth-of-type(3) {
    color: var(--base-color);
    font-size: 1.6rem;
    vertical-align: baseline;
  }
  header .menu {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  header .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  header .menu ul li {
    display: inline-block;
    list-style: none;
    margin-right: 3.5rem;
  }
  header .menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    -webkit-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
  }
  header .menu ul li a svg {
    -webkit-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
  }
  header .menu ul li a:hover {
    color: #FC8019;
  }
  header .menu ul li a:hover svg {
    fill: #FC8019;
  }
  header .menu ul li a span:nth-of-type(1) {
    margin-right: 0.4rem;
    vertical-align: middle;
  }
  header .menu ul li a span:nth-of-type(2) {
    font-weight: bold;
    vertical-align: baseline;
  }
  @media (max-width: 991.98px) {
    header .location {
      max-width: 25%;
    }
    header .menu ul li {
      margin-right: 1.2rem;
    }
  }
  @media (max-width: 767px) {
    header {
      padding: 5px 10px;
    }
    header .menu ul li,
    header .logo {
      display: none;
    }
    header .location {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      max-width: 60%;
      margin-left: 0;
    }
    header .location span:nth-of-type(1) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
      padding-bottom: 0;
      height: 30px;
      border-bottom: 0;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    header .location span:nth-of-type(2) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3;
      width: 100%;
    }
    header .location span:nth-of-type(3) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      height: 30px;
    }
    header .menu ul li:nth-of-type(2) {
      display: inline-block;
      margin-right: 0;
    }
  }