#cartRightContainer{
    max-height:37vw;
}
#cartRightTopFixedDiv{
    cursor: pointer;
    padding: 1.3vw 2vw;
    background: #fff;
    display: flex;
}
#cartRightContainer .topFoodImage{
    height:3.5vw;
    width: 3.5vw;
}
#cartRightContainer .topFoodName{
    margin-left:1vw; 
    height: 3vw;
}
#cartRightContainer .topFoodNameTitle{
    font-size: 1.2vw;
    color: #282c3f;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
} 
#cartRightContainer .topFoodNameContent{
    font-size: 0.8vw;
    color: #686b78;
    position: absolute;
}
#cartRightContainer #middleFooodDiv{
    height: 27vw;
    width:  23vw;;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0 0 0 2vw ; 
    background-color: #ffffff;   
}

#cartRightContainer #middleFooodDiv::-webkit-scrollbar {
    width: 2px;
}
  
#cartRightContainer #middleFooodDiv::-webkit-scrollbar-thumb {
background: #888; 
}

#middleFooodDiv .FoodEachItemContainer{
display: flex;
justify-content: space-between;
margin-top:0.7vw;
}
#middleFooodDiv .FoodEachItemContainer .vegSymbol{
height:0.8vw;
width:0.8vw;
margin-top: 0.3vw;
}
#middleFooodDiv .FoodEachItemContainer #itemNameDiv{
text-align: left;
width: 10vw;
margin-left: -1vw;
}
#middleFooodDiv .FoodEachItemContainer .eachItemName{
    font-size: 0.9vw;
    font-weight: 400;
    margin-left: 0.7vw;
    margin-right: 0.9vw;
    color: #282c3f;
    margin-top:0.1vw;
}
#middleFooodDiv .FoodEachItemContainer #quantityUpdateDiv{
display: flex;
justify-content: space-between;
width: 4.5vw;
margin-left: -1vw;
border: 1px solid #60b246;
height: 1.3vw;
padding: 0.2vw 0.5vw;
}
#middleFooodDiv .FoodEachItemContainer .eachItemQuantity{
font-size: 0.8vw;
color:#60b246;
margin-top:0;
cursor: pointer;
}
#middleFooodDiv .FoodEachItemContainer #itemPriceDiv{
    width:3vw;
    color: #4e5266;
    font-size: 0.9vw;
    text-align: right;
    margin-right: 1vw;
    margin-top:-0.51vw;
}
.anySuggestion{
    font-size: 0.8vw;
    top: 1.1vw;
    margin-left: 1.6vw;
    width: 100%;
    pointer-events: none;
    color: #93959f;
}
#middleFooodDiv .suggestionSymbol{
    margin-top: 0.8vw;
    margin-left: 3vw;
    width: 1vw;
    height: 0.7vw;
    color: #282c3f;
}
#middleFooodDiv #contactDelivery{
    padding: 0.5vw 1vw;
    border: 1px solid rgb(177, 177, 177);
    width: 19vw;
}

#contactDelivery #contactDeliveryTitleDiv{
    display: flex;
    text-align: left;
}
#contactDelivery .checkBoxContact{
    border-color: #60b246;
    background-color: #60b246;
    color: #fff;
}
#contactDelivery .contactDeliveryTitle{
    font-weight: 600;
    color: #3e4152;
    font-size: 0.85vw;
    margin: -0.2vw 0 0 1vw;
}
#contactDelivery .contactDeliveryContent{
    text-align: left;
    margin-left: 2vw;
    margin-top: 0.2vw;
}
#contactDelivery .contactDeliveryContent p{
    opacity: .6;
    color: #282c3f;
    font-size: 0.9vw;
    margin-bottom: 0;
}

#middleFooodDiv #applyDiv{
display: flex;
margin-top:1vw;
padding:1vw 0 0 1vw;
border: 1px dashed grey;
width:20vw;
}
#applyDiv .discountIcon{
 height: 2vw;
}
#applyDiv .discountContent{
    font-size: 1vw;
    margin-left: 1vw;
    color: #282c3f;
    margin-top: 0.5vw;
}
#middleFooodDiv #billDetailDiv{
    text-align: left;
    margin-top: 2vw;
}
#billDetailDiv .billDetailTitle{
    font-weight: 600;
    font-size: 0.8vw;
    margin-bottom: 0.7vw;
    color: #282c3f;
}
#billDetailDiv .billDetailRow{
display: flex;
justify-content: space-between;
width:19vw;
}
.billDetailRow .billDetailRowContent{
    font-size: 0.8vw;
    color: #686b78;
}
.billDetailRow .billDetailRowContentLast{
    font-size: 0.8vw;
    color: #262626;
    text-transform: uppercase;
    font-weight: bold;
}

#cartRightContainer .billDetailRow{
    display: flex;
    justify-content: space-between;
    width:19vw;
    background-color: #ffffff;
}

#cartRightBottom{ 
    width:21vw;
    background-color: #ffffff;  
    padding:1vw 2vw;
    margin-top:1vw; 
    text-align: left;
}
#cartRightBottom .cartRightBottomTitle{
    color: #3e4152;
    line-height: 20px;
    font-weight: 600;
    font-size: 1vw;
}
#cartRightBottom  .cartRightBottomContent{
    color: #686b78;
    font-size: 0.8vw;
}
#cartRightBottom #readPolicy{
font-size: 0.9vw;
color: #ec6148!important;
border:none;
border-bottom: 1px dotted #ec6148!important;
padding-bottom: 0.2vw;
background-color: transparent;
}
#cartRightBottom #readPolicy:focus{
    outline: none;
}