#restoHeader {
  border: 1px solid rebeccapurple;
  display: flex;
  background-color: #171a29;
  color: white;
  padding: 0px 2vw;
}
#restobanner img {
  width: 25vw;
}
#restomid {
  width: 40vw;
  padding-left: 5vw;
}
#restoMidRating {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}
.restoMidRatingDivP {
  font-size: 10px;
}
#reatoMidSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reatoMidSearch div {
  margin-right: 2vw;
  background-color: white;
  color: gray;
  /* padding: 0.5vw; */
  display: flex;
  justify-items: center;
  text-align: center;
}

#reatoMidSearch div input {
  /* vertical-align: top; */
  /* text-align: center; */
  border: none;
  /* height: 20px; */
}
#reatoMidSearch div p {
  margin: 2px 0px;
  padding: 0;
  text-align: center;
}

.reatoMidCheck {
  width: 30px;
  height: 30px;
}
